body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    align-content: space-between;
    margin-top: 10px;
}

.container1 {
    display: flex;
    background-color: rgb(11, 62, 109);
    color: #f8f9fa;
    justify-content: center;
    margin: space;
    max-width: 80%;
    max-height: 60px;
    margin-top: 15px;
    margin-left: 10%;
    border-radius: 20px;
}

.bodyContainer {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 00.3);
    margin-left: 20px;
    width: 85%;
}


.report {
    display: flex;
    margin: 30px;
    margin-top: -2px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 00.3);
}

.mainicon1 {
    border-radius: 150px;
    width: 120px;
    height: 120px;
}


.navContainer {
    width: 20%;
    background-color: rgb(11, 62, 109);
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 00.3);
}

header {
    background-color: rgb(11, 62, 109);
    color: white;
    text-align: center;
    margin-top: 30px;
}

header h1 {
    font-size: 1.5rem;
    margin-top: -5px;
}

.form-group {
    margin-top: 3%;
    margin-left: 70px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-top: -15px;
    font-size: 20px;
    color: #555;
    margin-left: 30%;
}

.form-group input,
.form-group select {
    width: calc(50% - 40px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: rgb(42, 124, 111);
    box-shadow: 0 0 5px rgba(42, 124, 111, 0.5);
}


button.btn {
    background-color: rgb(11, 62, 109);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    margin-left: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: space-between;

}