body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f3f4f6; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(11, 62, 109);
    margin-right:-40px;
}

.mainicon {
    margin-top: -30px;
    width: 50px;
    height: 100px;
    margin-left: -270px;
}
.mainicon1 {
    border-radius: 200px; 
    margin-left: -120px;
    margin-top: -100px;
    width: 400px;
   
}

.login-container {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; 
    min-height: 400px; 
    margin-left: 210px;
}

.login-container h2 {
    margin: 0 0 20px;
    text-align: center;
    color: rgb(11, 62, 109);
 }
.login-container h1 {
    margin: 0 0 20px;
    color: #555; 
    font-size: 17px;
}

.form-group {
    margin-bottom: 20px; 
    font-family: 'Times New Roman', Times, serif;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: rgb(42, 124, 111);
    box-shadow: 0 0 5px rgba(42, 124, 111, 0.5);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(11, 62, 109);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgb(54, 175, 155); 
}

.container {
    text-align: center;
}

input[type="file"] {
    margin-top: 10px;
    padding: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
}
